body {
    font-family: 'Noto Sans TC', sans-serif;
    }
    h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
    }
    .subheading {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
    }

.email{
    color: #bd5d38;
}

.email:hover{
    background-color: #495057;
    color: #fff;

}

.nav-item{
    color: #bd5d38;
}

.nav-item:hover{
    background-color: #495057;
    color: #fff;

}

.expedu_icon{
    color: #495057;
}

.expedu_icon:hover{
    background-color: #fff;
    color: #bd5d38;

}